.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainApp{
  display: grid;
  gap: 30px;
}


.maincont{
  border: 1px solid;
  width: 48em;
  height: 400px;
  box-sizing: border-box;
  margin: auto;
  padding: 30px;
  
  
}


img{
  height: 70px;
  
}

.imgdate{
  display: flex;
  justify-content: space-between;
  
}

button{
  height: 45px;
  background-color: black;
  color: white;
}

.desnarrow{
display: flex;
justify-content: space-between;
}

@media (min-width:20px) and (max-width:415px){
  .maindiv{
    width:80%;
  }
}